### Python - Part 1

In [1]:
print("Hello, World!")

Hello, World!

In [7]:
# version check
!python --version

Python 3.9.2

In [8]:
b = 10 
type(b)

int

In [14]:
# Simple Declarations
a = [10,11] 
print(type(a)) # list
a = (10,232)
print(type(a)) # tuple

<class 'list'>
<class 'tuple'>

In [20]:
# Type casting the number
num = 3 
print(type(num))
print(float(num))

<class 'int'>
3.0

In [66]:
#  Declare strings with different quotes
x = 'Python'
print(type(x))
x = "Python"
print(type(x))

<class 'str'>
<class 'str'>

### Variables

In [25]:
# variable naming convention 1 
_a = 5 
_a

5

In [26]:
# variable naming convention 2 
numInt = 342
numInt

342

In [29]:
# variable naming convention 2 / Wrong
num-integer = 5 
num-integer

SyntaxError: cannot assign to operator (2286145030.py, line 2)

In [30]:
# Camel Case -> First Character of a word is Capital except the first word 
myNumberCamelCase = 10
# Pascal Case -> All words starts with capital letter
MyNumberCamelCase = 10
# Snake Case -> Words are seperated by _
User_Name = "Gowtham"

In [33]:
# Multiple variables 
firstName, lastName, city = "Gowtham", "Sivam", "Chennai"
print(firstName)
print(lastName)
print(city)
# Find which Case is used here to define the variables

Gowtham
Sivam
Chennai

In [38]:
# same value to multiple variables 
firstName = lastName = city = "Gowtham Sivam" 
print(firstName)
print(lastName)
print(city)

Gowtham Sivam
Gowtham Sivam
Gowtham Sivam

In [39]:
# Pick correct values for variables from the list 
personMetadata = ["Gowtham", "Sivam", "Chennai"]
firstName, lastName, city = personMetadata
print(firstName)
print(lastName)
print(city)

Gowtham
Sivam
Chennai

In [42]:
# printing vs simple looking at what the variable holds. 
Details  = "I'm working in a Good Company \n and the AI team is really interesting."
Details

"I'm working in a Good Company \n and the AI team is really interesting."

In [44]:
#look how this prints the data
print(Details)

I'm working in a Good Company
 and the AI team is really interesting.

In [49]:
# Simple Addition
a = 5 
b = 10
print(a + b)

15

In [52]:
# addition of 2 different types
a = 5 
b = "Subscribe to My channel"
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
# type casting a to see what happens 
a = str(5) 
b = "Subscribe to My channel"
print(a + b)

5Subscribe to My channel

In [61]:
# Global Variables understanding 
Name = "Gowtham"

def myfunc(): 
  Name = "Vijay" # defined here inside the function
  print("I'm "  + Name)

myfunc()

print("I'm " + Name)

I'm Vijay
I'm Gowtham

In [65]:
#usage of global keyword
def myfunc():
  global friendName
  friendName = "Dinesh"

myfunc()

print("His name is " + friendName)

His name is Dinesh

### Data Types

- **Text Type:** `str`
- **Numeric Types:** `int`, `float`, `complex`
- **Sequence Types:** `list`, `tuple`, `range`
- **Mapping Type:** `dict`
- **Set Types:** `set`, `frozenset`
- **Boolean Type:** `bool`
- **Binary Types:** `bytes`, `bytearray`, `memoryview`
- **None Type:** `NoneType`

In [74]:
# Sample code for string -> Immutable
my_string = "Hello, World!"
print(my_string)  # Output: Hello, World!

Hello, World!

In [69]:
# Sample code for numeric types
my_int = 10
my_float = 3.14
my_complex = 2 + 3j

print(my_int)      # Output: 10
print(my_float)    # Output: 3.14
print(my_complex)  # Output: (2+3j)

10
3.14
(2+3j)

In [88]:
# sequence types
my_list = [1, 2, 3, 4, 5] # Mutable
my_tuple = (1, 2, 3, 4, 5) # Immutable
my_range = range(0, 10, 2)

print(my_list)    # Output: [1, 2, 3, 4, 5]
print(my_tuple)   # Output: (1, 2, 3, 4, 5)
print(list(my_range))  # Output: [0, 2, 4, 6, 8]

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
[0, 2, 4, 6, 8]

In [89]:
# unordered collections of key-value pairs. 
# Keys are unique and immutable, and values can be of any data type.
my_dict = {'name': 'Gowtham', 'age': 23, 'city': 'Chennai'}

print(my_dict['name'])  # Output: John
print(my_dict['age'])   # Output: 30
print(my_dict['city'])  # Output: New York

Gowtham
23
Chennai

In [90]:
# unordered collections of unique elements -> Mutable
# Frozen Sets -> Immutable 
my_set = {1, 2, 3, 4, 5,5 }
my_frozenset = frozenset({1, 2, 3, 4, 5, 5 })

print(my_set)          # Output: {1, 2, 3, 4, 5}
print(my_frozenset)    # Output: frozenset({1, 2, 3, 4, 5})

{1, 2, 3, 4, 5}
frozenset({1, 2, 3, 4, 5})

In [91]:
#  boolean type
boolT = True
boolF = False

print(boolT)    # Output: True
print(boolF)  # Output: False

True
False

In [92]:
# Binary types represent sequences of bytes. 
# Bytes are immutable, while bytearray is mutable.
# Memoryview provides a view on memory allowing you to operate on the underlying bytes.
my_bytes = b'Hello'
my_bytearray = bytearray(b'Hello')
my_memoryview = memoryview(b'Hello')

print(my_bytes)       # Output: b'Hello'
print(my_bytearray)   # Output: bytearray(b'Hello')
print(my_memoryview)  # Output: <memory at 0x7fbd65b7e040>

b'Hello'
bytearray(b'Hello')
<memory at 0x0000026F588F3B80>

In [93]:
# NoneType
my_none = None

print(my_none)  # Output: None

None

In [128]:
# Random Module to print random numbers
import random
print(random.randrange(1, 200))

66

In [129]:
print(random.randrange(1, 200))

154

In [130]:
print(random.randrange(1, 200))

168

### Strings

In [131]:
# Strings 
Details = "My Name is Gowtham"
print(Details)

My Name is Gowtham

In [133]:
# Multiline Strings 
Details = """Hey hello how are you what 
have you been doing where do you work"""
print(Details)

Hey hello how are you what
have you been doing where do you work

In [134]:
#index a string 
Details[0:5]

'Hey h'

In [135]:
print(len(Details))

65

In [141]:
#in keyword
if 'Hey' in Details:
    print("Yes it has Hey")

Yes it has Hey

In [142]:
# not in keyword
if 'Hey' not in Details:
    print("Yes it has Hey")
else: 
    print("Hey exists")

Hey exists

In [143]:
# upper 
print(Details.upper())

HEY HELLO HOW ARE YOU WHAT
HAVE YOU BEEN DOING WHERE DO YOU WORK

In [144]:
# lower
print(Details.lower())

hey hello how are you what
have you been doing where do you work

In [150]:
simp = " Hello, World! "
print(simp.strip())

Hello, World!

In [151]:
print(simp.replace("H", "J"))

 Jello, World!

In [152]:
print(simp.split(","))

[' Hello', ' World! ']

In [158]:
# concatenate
firstName = "Gowtham"
lastName = "Sivam"
print(firstName + ' ' + lastName)

Gowtham Sivam

In [159]:
# format
age = 23
txt = "My name is Gowtham, and I am {}"
print(txt.format(age))

My name is Gowtham, and I am 23

In [164]:
# FORMAT WITH MULTIPLE PARAMS
name = "Gowtham"
age = 23
occupation = "SDE"
bio = "Hello, my name is {}. I am {} years old and work as a {}."
print(bio.format(name, age, occupation))

Hello, my name is Gowtham. I am 23 years old and work as a SDE.

In [165]:
# added indexing in the format 
name = "Gowtham"
age = 23
occupation = "SDE"
bio = "Hello, my name is {0}. I am {1} years old and work as a {2}."
print(bio.format(name, age, occupation))

Hello, my name is Gowtham. I am 23 years old and work as a SDE.

In [170]:
# Adding a word in the string in between
T20_IPL = "Chennai Wins the IPL Trophy in the year 2024"
print(T20_IPL)
T20_IPL = "Chennai Wins the \"IPL Trophy\" in the year 2024"
print(T20_IPL)

Chennai Wins the IPL Trophy in the year 2024
Chennai Wins the "IPL Trophy" in the year 2024

### Boolean

In [172]:
# A function can return true / false
def is_even(number):
    return number % 2 == 0

if is_even(4):
    print("YES, it's even!")
else:
    print("NO, it's odd!")

YES, it's even!

In [174]:
#check the data type of an object
x = 200
print(isinstance(x, int))

True

In [175]:
print(isinstance(x, str))

False

### Operators
- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [177]:
# Arithmetic operators
a = 10
b = 5

# Addition
addition = a + b
print("Addition:", addition)

# Subtraction
subtraction = a - b
print("Subtraction:", subtraction)

# Multiplication
multiplication = a * b
print("Multiplication:", multiplication)

# Division
division = a / b
print("Division:", division)

# Floor Division
floor_division = a // b
print("Floor Division:", floor_division)

# Modulus
modulus = a % b
print("Modulus:", modulus)

# Exponentiation
exponentiation = a ** b
print("Exponentiation:", exponentiation)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 100000

In [178]:
# Assignment operators
x = 10
y = 5

# Addition assignment
x += y  # Equivalent to: x = x + y
print("Addition assignment:", x)

# Subtraction assignment
x -= y  # Equivalent to: x = x - y
print("Subtraction assignment:", x)

# Multiplication assignment
x *= y  # Equivalent to: x = x * y
print("Multiplication assignment:", x)

# Division assignment
x /= y  # Equivalent to: x = x / y
print("Division assignment:", x)

# Floor Division assignment
x //= y  # Equivalent to: x = x // y
print("Floor Division assignment:", x)

# Modulus assignment
x %= y  # Equivalent to: x = x % y
print("Modulus assignment:", x)

# Exponentiation assignment
x **= y  # Equivalent to: x = x ** y
print("Exponentiation assignment:", x)

Addition assignment: 15
Subtraction assignment: 10
Multiplication assignment: 50
Division assignment: 10.0
Floor Division assignment: 2.0
Modulus assignment: 2.0
Exponentiation assignment: 32.0

In [179]:
# Comparison operators
x = 10
y = 5

# Equal to
print("Equal to:", x == y)

# Not equal to
print("Not equal to:", x != y)

# Greater than
print("Greater than:", x > y)

# Less than
print("Less than:", x < y)

# Greater than or equal to
print("Greater than or equal to:", x >= y)

# Less than or equal to
print("Less than or equal to:", x <= y)

Equal to: False
Not equal to: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False

In [180]:
# Logical operators
x = 10
y = 5
z = 15

# AND operator
print("AND operator:", x > y and y < z)

# OR operator
print("OR operator:", x > y or y > z)

# NOT operator
print("NOT operator:", not(x == y))

AND operator: True
OR operator: True
NOT operator: True

In [181]:
# Identity operators
x = [1, 2, 3]
y = [1, 2, 3]
z = x

# is operator
print("is operator:", x is y)
print("is operator with z:", x is z)

# is not operator
print("is not operator:", x is not y)
print("is not operator with z:", x is not z)

is operator: False
is operator with z: True
is not operator: True
is not operator with z: False

In [182]:
# Membership operators
my_list = [1, 2, 3, 4, 5]

# in operator
print("in operator:", 3 in my_list)
print("not in operator:", 6 not in my_list)

in operator: True
not in operator: True

In [183]:
# Bitwise operators
x = 10  # Binary: 1010
y = 5   # Binary: 0101

# Bitwise AND
print("Bitwise AND:", x & y)

# Bitwise OR
print("Bitwise OR:", x | y)

# Bitwise XOR
print("Bitwise XOR:", x ^ y)

# Bitwise NOT
print("Bitwise NOT for x:", ~x)

# Bitwise left shift
print("Bitwise left shift for x:", x << 1)

# Bitwise right shift
print("Bitwise right shift for y:", y >> 1)

Bitwise AND: 0
Bitwise OR: 15
Bitwise XOR: 15
Bitwise NOT for x: -11
Bitwise left shift for x: 20
Bitwise right shift for y: 2

### List

In [185]:
# Create a list
star_collection = ["Sirius", "Betelgeuse", "Proxima Centauri", "Antares", "Vega"]

# Print the list
print("Stars in the collection:", star_collection)

Stars in the collection: ['Sirius', 'Betelgeuse', 'Proxima Centauri', 'Antares', 'Vega']

In [186]:
# Accessing elements
first_star = star_collection[0]
last_star = star_collection[-1]

print("First star:", first_star)
print("Last star:", last_star)

First star: Sirius
Last star: Vega

In [187]:
# Slicing the list
middle_stars = star_collection[1:4]
print("Middle stars:", middle_stars)

Middle stars: ['Betelgeuse', 'Proxima Centauri', 'Antares']

In [188]:
# Updating elements
star_collection[2] = "Alpha Centauri"
print("Updated star collection:", star_collection)

Updated star collection: ['Sirius', 'Betelgeuse', 'Alpha Centauri', 'Antares', 'Vega']

In [189]:
# Adding elements
star_collection.append("Polaris")
print("Star collection after adding Polaris:", star_collection)

# Removing elements
removed_star = star_collection.pop(3)
print("Removed star:", removed_star)
print("Star collection after removing:", star_collection)

Star collection after adding Polaris: ['Sirius', 'Betelgeuse', 'Alpha Centauri', 'Antares', 'Vega', 'Polaris']
Removed star: Antares
Star collection after removing: ['Sirius', 'Betelgeuse', 'Alpha Centauri', 'Vega', 'Polaris']

In [190]:
# Length of the list
num_stars = len(star_collection)
print("Number of stars in the collection:", num_stars)

# Sorting the list
star_collection.sort()
print("Sorted star collection:", star_collection)

# Reversing the list
star_collection.reverse()
print("Reversed star collection:", star_collection)

# Clearing the list
star_collection.clear()
print("Cleared star collection:", star_collection)

Number of stars in the collection: 5
Sorted star collection: ['Alpha Centauri', 'Betelgeuse', 'Polaris', 'Sirius', 'Vega']
Reversed star collection: ['Vega', 'Sirius', 'Polaris', 'Betelgeuse', 'Alpha Centauri']
Cleared star collection: []

In [195]:
# iterate a list 
names = ['Gowtham', 'Dinesh', 'Vijay']
for i in names:
    print(i)
print('------------------')
for i in range(len(names)):
    print(names[i])

Gowtham
Dinesh
Vijay
------------------
Gowtham
Dinesh
Vijay

In [203]:
#Before  List comprehension
names = ['Gowtham', 'Dinesh', 'Vijay']
i_names = []
for i in names:
    if 'i' in i:
        i_names.append(i)
print(i_names)

['Dinesh', 'Vijay']

In [205]:
#After List comprehension 
names = ['Gowtham', 'Dinesh', 'Vijay']
i_names = [name for name in names if 'i' in name] # simple list comprehension
i_names

['Dinesh', 'Vijay']

In [208]:
# Simple list comprehension
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [211]:
# Sort the list reverse 
newlist.sort(reverse=True)
newlist

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [216]:
#copy the list
anotherlist = newlist.copy()
anotherlist

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Tuple

In [218]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

# Accessing elements of a tuple
first_element = my_tuple[0]
last_element = my_tuple[-1] # see the indexing here

print("First element:", first_element)
print("Last element:", last_element)

First element: 1
Last element: 5

In [219]:
# Slicing a tuple
my_tuple[1:4]

(2, 3, 4)

In [220]:
# Tuple packing
packed_tuple = 1, 2, 3
print("Packed tuple:", packed_tuple)

# Tuple unpacking
a, b, c = packed_tuple
print("Unpacked values - a:", a, ", b:", b, ", c:", c)

Packed tuple: (1, 2, 3)
Unpacked values - a: 1 , b: 2 , c: 3

In [223]:
# Immutability of tuples
# Attempting to modify a tuple will raise an error

my_tuple = (1, 2, 3, 4, 5)

# my_tuple[0] = 10  # Uncommenting this line will raise an error

# Tuple length
tuple_length = len(my_tuple)
print("Length of the tuple:", tuple_length)

# Tuple concatenation
concatenated_tuple = my_tuple + packed_tuple
print("Concatenated tuple:", concatenated_tuple)

# Count occurrences of a value in a tuple
count_occurrences = my_tuple.count(3)
print("Occurrences of 3 in the tuple:", count_occurrences)

# Find the index of a value in a tuple
index_value = my_tuple.index(4)
print("Index of 4 in the tuple:", index_value)

Length of the tuple: 5
Concatenated tuple: (1, 2, 3, 4, 5, 1, 2, 3)
Occurrences of 3 in the tuple: 1
Index of 4 in the tuple: 3

In [226]:
# Tuple and data type
names = ('Vijay')
print(type(names))

<class 'str'>

In [227]:
names = ('Vijay',)
print(type(names))

<class 'tuple'>

In [228]:
# Tuple unpacking with * operator
cities = ("New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "Philadelphia", "San Antonio")

(first_city, *middle_cities, last_city) = cities

print("First city:", first_city)
print("Middle cities:", middle_cities)
print("Last city:", last_city)

First city: New York
Middle cities: ['Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia']
Last city: San Antonio

### Sets

In [231]:
# No Duplicates
# Creating a set
my_set = {1, 2, 3, 4, 5,5}
print("Set:", my_set)

# Creating a set using set() constructor
another_set = set([1, 2, 2, 3, 4, 4, 5])
print("Another set:", another_set)

Set: {1, 2, 3, 4, 5}
Another set: {1, 2, 3, 4, 5}

In [232]:
# Set operations
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union
union_set = set1 | set2
print("Union:", union_set)

# Intersection
intersection_set = set1 & set2
print("Intersection:", intersection_set)

# Difference
difference_set = set1 - set2
print("Difference:", difference_set)

# Symmetric Difference
symmetric_difference_set = set1 ^ set2
print("Symmetric Difference:", symmetric_difference_set)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}
Symmetric Difference: {1, 2, 5, 6}

In [233]:
# Modifying a set
my_set.add(6)
print("After adding 6:", my_set)

my_set.remove(3)
print("After removing 3:", my_set)

After adding 6: {1, 2, 3, 4, 5, 6}
After removing 3: {1, 2, 4, 5, 6}

#### Dict

In [240]:
# Creating a dictionary
my_dict = {'name': 'Gowtham', 'age': 23, 'city': 'Chennai'}
print("Dictionary:", my_dict)

# Creating a dictionary using dict() constructor
another_dict = dict(name='Gowtham', age=23, city='Chennai')
print("Another dictionary:", another_dict)

Dictionary: {'name': 'Gowtham', 'age': 23, 'city': 'Chennai'}
Another dictionary: {'name': 'Gowtham', 'age': 23, 'city': 'Chennai'}

In [241]:
# accessing the value
my_dict['name']

'Gowtham'

In [242]:
# Modifying a dictionary
my_dict['city'] = 'Bangalore'
print("Modified dictionary:", my_dict)

my_dict['job'] = 'Engineer'
print("After adding job:", my_dict)

# deleting
del my_dict['age']
print("After deleting age:", my_dict)

Modified dictionary: {'name': 'Gowtham', 'age': 23, 'city': 'Bangalore'}
After adding job: {'name': 'Gowtham', 'age': 23, 'city': 'Bangalore', 'job': 'Engineer'}
After deleting age: {'name': 'Gowtham', 'city': 'Bangalore', 'job': 'Engineer'}

In [243]:
# Dictionary methods
print("Keys:", my_dict.keys())
print("Values:", my_dict.values())
print("Items:", my_dict.items())

Keys: dict_keys(['name', 'city', 'job'])
Values: dict_values(['Gowtham', 'Bangalore', 'Engineer'])
Items: dict_items([('name', 'Gowtham'), ('city', 'Bangalore'), ('job', 'Engineer')])

In [244]:
# Iterating through a dictionary
for key in my_dict:
    print("Key:", key, "Value:", my_dict[key])

for key, value in my_dict.items():
    print("Key:", key, "Value:", value)

Key: name Value: Gowtham
Key: city Value: Bangalore
Key: job Value: Engineer
Key: name Value: Gowtham
Key: city Value: Bangalore
Key: job Value: Engineer

In [245]:
### Nested Dictionaries
# Creating a nested dictionary
employee = {
    'John': {'age': 30, 'department': 'HR'},
    'Alice': {'age': 25, 'department': 'Engineering'},
    'Bob': {'age': 35, 'department': 'Marketing'}
}

# Accessing values in nested dictionary
print("John's age:", employee['John']['age'])
print("Alice's department:", employee['Alice']['department'])

# Modifying nested dictionary
employee['Bob']['age'] = 40
employee['Alice']['salary'] = 5000

# Printing modified nested dictionary
print("Modified nested dictionary:", employee)

John's age: 30
Alice's department: Engineering
Modified nested dictionary: {'John': {'age': 30, 'department': 'HR'}, 'Alice': {'age': 25, 'department': 'Engineering', 'salary': 5000}, 'Bob': {'age': 40, 'department': 'Marketing'}}

### if else

In [246]:

x = 3

if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is less than 5

In [247]:
## nested if else
x = 10
y = 5

if x > 5:
    if y > 2:
        print("Both x and y are greater than their respective thresholds")
    else:
        print("x is greater than 5, but y is not greater than 2")
else:
    print("x is not greater than 5")

Both x and y are greater than their respective thresholds

In [248]:
# Ternary operator
x = 10
result = "x is greater than 5" if x > 5 else "x is not greater than 5"
print(result)

x is greater than 5

In [249]:
# pass statement
x = 5 
if x == 5:
    pass

### Loops

In [250]:
# Example of for loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [251]:
# Example of while loop
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [252]:
# Example of loop control statements
for i in range(1, 10):
    if i == 5:
        break  # terminates the loop if i equals 5
    if i == 3:
        continue  # skips the remaining code for i equals 3
    print(i)

1
2
4

In [253]:
# Example of nested loops
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} * {j} = {i * j}")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

In [254]:
# Example of loop with else block
for i in range(5):
    print(i)
else:
    print("Loop completed without breaking")

0
1
2
3
4
Loop completed without breaking

In [256]:
for char in "Gowtham":
  print(char)

G
o
w
t
h
a
m

In [260]:
for x in range(0, 30):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [261]:
for x in range(0, 30, 5):
  print(x)

0
5
10
15
20
25

### Functions

In [262]:
# Function to greet
def greet():
    print("Hello, welcome to Python!")

# Calling the function
greet()

Hello, welcome to Python!

In [263]:
# Function to greet with a name
def greet(name):
    print("Hello,", name)

# Calling the function with different names
greet("Alice")
greet("Bob")

Hello, Alice
Hello, Bob

In [265]:
# default country
def greet(country="Norway"):
    print("I am from", country)

# Calling the function with different countries
greet("Sweden")
greet("India")
greet()  # Using the default country
greet("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [276]:
# Variable number of arguments
def print_names(*names):
    print("The input name is : ", names[1])

# Calling the function with a list of fruits
names = ['Gowtham', 'Sivam']
print_names(*names)  # Unpacking the list as arguments

The input name is :  Sivam

In [278]:
# Recursive function to calculate the factorial of a number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Calling the recursive function and printing the result
result = factorial(5)
print("Factorial of 5:", result)

Factorial of 5: 120

#### Lambda Functions

In [279]:
# Lambda function to calculate the square of a number
square = lambda x: x ** 2

# Using the lambda function to calculate square
result = square(5)
print("Square of 5:", result)

Square of 5: 25

In [280]:
# Using lambda function with map() to double each element in a list
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print("Doubled numbers:", doubled_numbers)

Doubled numbers: [2, 4, 6, 8, 10]

In [281]:
# Using lambda function with filter() to filter even numbers from a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

In [282]:
# Using lambda function with sorted() to sort a list of tuples based on the second element
pairs = [(1, 'b'), (2, 'a'), (3, 'c')]
sorted_pairs = sorted(pairs, key=lambda x: x[1])
print("Sorted pairs based on the second element:", sorted_pairs)

Sorted pairs based on the second element: [(2, 'a'), (1, 'b'), (3, 'c')]

In [283]:
def operation(x):
    # Define a lambda function to double the input
    double = lambda a: a * 2
    # Double the input using the lambda function
    result = double(x)
    return result

# Call the function with an argument
print("Result:", operation(5))

Result: 10